.DS_Store
node_modules
.tmp
npm-debug.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/playwright/.auth/
/playwright/.auth/*.json
/.auth/*.json
!/playwright/.auth/
!/playwright/.auth/*.json
